* {
  box-sizing: border-box;
}

body, textarea, button {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: min(100vh, 1600px);
}

button, input {
  margin: 1em auto 0;
  display: block;
}

a {
  display: block;
}
